/*  Josh's Custom CSS Reset  https://www.joshwcomeau.com/css/custom-css-reset/*/
*, *::before, *::after {
    box-sizing: border-box;}
* {
    margin: 0;}
body {
    line-height: 1.5;  -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}
img, picture, video, canvas, svg {
    display: block;  max-width: 100%;}
input, button, textarea, select {
    font: inherit;}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;}
p {
    text-wrap: pretty;}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;}
#root, #__next {
    isolation: isolate;}

#content {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: stretch;
}

#sidebar {
    flex: 0 0 auto;
    width: max(30vw, 150px);
    padding: 1rem;
    background-color: white;
}

#projects {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

#project-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.todo-list {
    /* flex: 1; */
    width: max(25vw, 250px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
    border-radius: 8px;
    background-color: white;
}

.todo-list > h1 {
    padding-left: 1rem;
    font-size: 24px;

}

.todo-item {
    padding: 1rem;
    border-radius: 8px;
    background-color: orange;
}

.todo-item h1 {
    font-size: 24px;
}

.todo-item h2 {
    font-size: 18px;
    font-weight: 400;
}

.todo-item p {
    font-size: 16px;
}